[Unit]
Description=Transmission BitTorrent Daemon
After=network.target

[Service]
User=rotsen
Type=notify
ExecStart=/usr/bin/transmission-daemon -f --log-error --logfile /media/Torrents/.logs/transmission
ExecReload=/bin/kill -s HUP $MAINPID
NoNewPrivileges=true
Restart=always

[Install]
WantedBy=multi-user.target
